@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Lora:wght@400;600;700&family=Montserrat:wght@300;400;600;700&display=swap");

@layer base {
  body {
    @apply font-[Montserrat];
  }
  li {
    @apply font-semibold;
    @apply px-4;
    @apply cursor-pointer;
    @apply text-[#f3973b];
    @apply hover:text-[#f6b879];
  }
  h1,
  h2,
  h3 {
    @apply font-[Lora];
  }
  .skills .content-item {
    @apply pt-4;
    @apply shadow-xl;
    @apply shadow-[#423842];
    @apply hover:scale-110;
    @apply duration-500;
    @apply bg-[#f6f4f6];
    @apply text-sm;
    @apply text-[#342c34];
    @apply rounded-xl;
  }

  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .projects .content-item {
    @apply mx-auto;
    @apply shadow-lg;
    @apply shadow-[#423842];
    @apply container;
    @apply rounded-lg;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
  }

  .content-div:hover {
    background-image: linear-gradient(
      to bottom right,
      #f08519,
      #f8c28c
    ) !important;
  }
}
